.clickbutton-wrapper {
  width: 100%;
  text-align: center;
}

.clickbutton {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  height: 700px;
  width: 35px;
  display: inline-block;
}

.container {
  position: relative;
}

.text {
  margin-left: 35px;
  margin-right: 35px;
}

#pictures {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 auto;
  max-width: 40%;
  max-height: 1080px;
  border-radius: 10%;
}