  .clickbutton-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 29%;
  }
  
  .clickbutton {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    height: 700px;
    width: 35px;
    display: inline-block;
  }
  .container {
    position: relative;
  }
  
  .text {
    margin-left: 35px;
    margin-right: 35px;
    color:#fff;
  }
  