<nav class="tabs">
  <ul>
    <li class="ITEMT"><a routerLink="/api-component" routerLinkActive="active" ariaCurrentWhenActive="page">API</a></li>
    <li class="ITEMT"><a routerLink="/mars-component" routerLinkActive="active" ariaCurrentWhenActive="page">Mars</a></li>
    <li class="ITEMT"><a routerLink="/earth-component" routerLinkActive="active" ariaCurrentWhenActive="page">Earth</a></li>
    <li class="ITEMT"><a routerLink="/epic-component" routerLinkActive="active" ariaCurrentWhenActive="page">EPIC</a></li>
    <li class="ITEMT"><a routerLink="/apod-component" routerLinkActive="active" ariaCurrentWhenActive="page">APOD</a></li>
    <li class="ITEMT"><a routerLink="/asteroid-component" routerLinkActive="active" ariaCurrentWhenActive="page">Asteroids</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>