nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 14%;
  top: 5%;
  border: 2px solid hsl(276, 100%, 15%);
  border-radius: 30px;
  padding: 10px;
  justify-content: center;
  width: 30%;
  height: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.818);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #646464;
}

nav li {
  margin: 0 10px;
}

nav a.active {
  color: rgb(131, 235, 136);
}

.tabs {
  display: flex;
  justify-content: center;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  background-color: #181717;
  border-radius: 15px;
  width: 50%;
  margin: 0 auto;
  top: 5%;
}

.ITEMT {
  color: #ccc;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
}

.ITEMT.active {
  color: #fff;
  border-radius: 15px;
  background-color: #c8ff00;
}

.ITEMT:hover {
  background-color: hsl(276, 100%, 15%);;
  border-radius: 7px;
}

